.expense-item{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.849); */
    padding: 0.5rem;
    margin: 1rem 0;
    /* border-radius: 12px; */
    background-color: rgba(165, 42, 42, 0.329);
}
.expense-item__description{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    align-items: center;
    /* flex-flow: column-reverse; */
    justify-content: flex-start;
    flex: 1;
}
.expense-item h2{
    font-size: 1.8rem;
    flex: 1;
    margin: 0 1.8rem;
    color: rgb(65, 52, 52);
    
}
.expense-item__price{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    padding: 1.2rem;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 2px solid white;
    margin: 0 1.8rem;
}
.expense-date__formate{
    background-color: coral;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.849);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    overflow: hidden;

}